<script>
    import Edit from "./Edit.svelte";
    import {openModal, closeModal} from "./Modal.svelte";
    import {api, sortByName, priorities} from "./utils";

    export let listId;

    // TODO: Load the items for `listId` from the API. Note that in case listId changes,
    // (because the user clicks a different tab), this needs to be done again for the 
    // new `listId`. A 'reactive declaration' can be used for that.
    // https://svelte.dev/tutorial/reactive-declarations

    let items;

    function addItem() {
        openModal(Edit, {onSubmit: onAddItemSubmit});
    }
    function onAddItemSubmit(newItem) {
        closeModal();
        // TODO: Do something useful with newItem!
    }
</script>

<!-- The add a new ToDo-item button -->              
<section class="card special">
    <button on:click={addItem}>Add an item</button>
</section>

<!-- TODO: The list of ToDo-items. 
You can just start with a regular list, and add priorities (and sorting) later.
You'll probably want to use an instance of a <Item> component for each item. 
    
Svelte data binding is really useful to keep the data within the <Item> and within
the array of items that you have in this List component in sync. For instance:
<Item bind:name={item.name} />

When the items are still loading, the loading indicator should be shown.
-->
TODO, this spinner will spin and spin and spin and..
<span class="material-icons loader">sync</span>
